/*
 * Unistylus themes
 */
@import './themes';

/*
 * Global styles
 */
 
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--size-font);
  background: var(--color-background);
  color: var(--color-foreground);
}
